In [2]:
import os

import pandas as pd
from toggl.TogglPy import Toggl

WORKSPACE_ID = 397836

toggl = Toggl()

In [3]:
if api_key := os.environ.get("TOGGL_API_KEY"):
    toggl.setAPIKey(api_key)
else:
    print("TOGGL_API_KEY environment variable not set")
    exit(1)

# Get all projects
projects = toggl.getWorkspaceProjects(WORKSPACE_ID)
clients = toggl.getClients()

In [4]:
projects_df = pd.DataFrame(projects)
clients_df = pd.DataFrame(clients)

In [10]:
jdf = projects_df.join(clients_df.set_index('id'), on="cid", how="left", lsuffix="_project", rsuffix="_client")

In [16]:
join_df = jdf[["name_client","active","name_project","cid","id"]]

In [21]:
join_df = join_df.where(join_df["active"] == True).dropna(how="all")

In [23]:
join_df.drop(columns=["active"], inplace=True)

In [24]:
join_df.head()

  name_client                name_project       cid         id
0    Med prod  Planning beyond work tasks  61372555  191920568
1         Fun        Activities - Hobbies  61416606  186944097
2       Media                       Books  61416603  187018119
3       Media                    Podcasts  61416603  186944074
4    Exercise                    Exercise  61416605  186944059

In [25]:
join_df.sort_values(by=["name_client","name_project"], inplace=True)

In [30]:
output = join_df[["name_client","name_project"]].to_dict(orient="records")

In [32]:
for record in output:
    client = record["name_client"]
    project = record["name_project"]
    print(f"{client} - {project}")

Avoid - Distracted
Avoid - Hypergraphia
Avoid - Mindless
Chores - Chores
Chores - SP: Cleaning room
Exercise - Exercise
Fun - Activities - Hobbies
Fun - Activity
Fun - Restaurant
Fun - Shopping
Med prod - GPT
Med prod - Planning beyond work tasks
Med prod - Thinking / discussing
Med prod - Todoist
Med prod - Tracking
Med prod - Work Med prod
Media - Books
Media - Browsing
Media - Music
Media - Podcasts
Media - TV / Movies
Media - Video games
Mindset - Lucid goal setting
Mindset - Mindset
Opt - Tooling
Personal - Helping
Personal - Personal chores
Personal - Routines
Personal Projects - Personal Projects
Sleep - Sleep
Social - Social W Ollie
Social - Social in person
Social - Virtual social
Transit - Transit
Work - AI Project Implementation
Work - AI Thinking/Learning
Work - Bounty
Work - Dictation App
Work - Investments
Work - Onlyfans AI
Work - Special Work Projects
Work - Work planning